<nav class="navbar navbar-expand-lg">
    <img src="projectx_logo.png" alt="" class="img-fluid float-left codelogo"> &nbsp; <h5>Project X</h5>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <div class="nav-link navUsername"></div>
            </li>
            <li class="nav-item active">
                <a class="nav-link logOut" href="/">Log Out <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron"
    style="background: url(https://www.careergirls.org/wp-content/uploads/2015/06/Computer_Programmer1920X10180.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">

    <h1 class="display-4" id="jumboTitle">HTML Basics</h1>
</div>

<div class="row" id="videoSection">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <p> Computer Programming > Intro into HTML > HTML Basics</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <a href="/html">HTML</a>
                <br>
                <a href="/stylesheets">CSS</a>
                <br>
                <a href="/javascript">Javascript</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 text-center" id="codingVid">
        <iframe width="550" height="450" src="https://www.youtube.com/embed/UB1O30fR-EE" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>


        <br>

    </div>
    <div class="col-sm-3">
        <h6>For additional information:</h6>
        <div class="card" id="stackCard">
            <div class="card-body">
                <div class="stackApi">
                    <p>Search Stack Overflow:<br></p>
                    <input type="text" id="search"><button id="stackBtn">submit</button>
                    <br>
                    <div class="stackResults"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="videoTitle">Intro into HTML</div>
        <br>
        <div class="vidInfo">
            <p>
                This is a crash course on HTML for beginners. You will learn HTML 5 tags, attributes, semantic
                markup, etc.

            </p>
        </div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="commentTitle">
            <h5>Comments:</h5>
        </div>
        <br>
        <form>
            <div class="form-group">
                <textarea class="form-control" id="commentSection" rows="1"></textarea>
            </div>
            <button type="submit" class="btn btn-info submit submitComment" sectionId="html">Submit</button>
        </form>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="comment-container">
            <br>

            {{#each comments}}
            <div class="row">
                <div class="col-sm-6" id="userName">
                    {{user}}
                </div>
            </div>
            <div class="row" id="userComments">
                <div class="col-sm-8 commentBody" id="commentId{{id}}">{{body}}</div>
                <div class="col-sm-4">
                    <button type="submit" data-id="{{id}}" data-username="{{user}}" data-editorsave="edit"
                        class="btn btn-info submit editComment" id="editId{{id}}"><i
                            class="far fa-edit fa-sm"></i></button>
                    <button type="submit" data-id="{{id}}" data-username="{{user}}"
                        class="btn btn-info submit deleteComment" id="deleteId{{id}}"><i
                            class="far fa-trash-alt fa-sm"></i></button>
                </div>
            </div>
            {{/each}}

        </div>
    </div>
</div>